<form>
  <div class="ui vtta">
    <section class="intro">
      Use this centralized configuration panel to adjust settings used by the VTTA.io modules
      
    </section>
    <div class="configurations">
    {{#each sections as |section key|}}
      <section class="configuration" data-name="{{section.name}}">
        <span class="header">
          {{section.label}}
        </span>
        <div class="hint">
          {{{markdown section.description}}}
        </div>
        {{#each section.settings as |setting key|}}
          <div class="field">
          <div class="label">
            <span>
              {{setting.label}} {{#if setting.isNumber}}
                {{#if setting.numberRange}}[{{setting.numberRange}}]{{/if}}
              {{/if}}
            </span>
            {{#if setting.isBoolean}}
            <input
              style="width: auto"
              type="checkbox"
              name="{{setting.usedBy}}.{{setting.key}}"
              data-dtype="{{setting.type.name}}"
              {{checked setting.value}}
            />
          {{else if setting.isSelect}}
            <select name="{{setting.usedBy}}.{{setting.key}}">
              {{#select this.value}}
                {{#each this.choices as |name k|}}
                  <option value="{{k}}">
                    {{localize name}}
                  </option>
                {{/each}}
              {{/select}}
            </select>
            {{else if setting.isNumber}}
            <input
              type="number"
              name="{{setting.usedBy}}.{{setting.key}}"
              data-dtype="{{setting.type.name}}"
              value="{{setting.value}}"
              min="{{setting.min}}"
              {{#if setting.min }} min="{{setting.min}}"{{/if}}
              {{#if setting.max }} max="{{setting.max}}" {{/if}}
            />
          {{else if setting.isRange}}
            <input
              type="range"
              name="{{setting.usedBy}}.{{setting.key}}"
              data-dtype="Number"
              value="{{setting.value}}"
              min="{{setting.min}}"
              max="{{setting.max}}"
              step="{{setting.step}}"
            />
            <span class="range-value">
              {{this.value}}
            </span>
          {{else}}
            <input
            type="text"
            name="{{setting.usedBy}}.{{setting.key}}"
            data-dtype="{{setting.type.name}}"
            value="{{setting.value}}"
          />
          {{/if}}

            
          </div>
          <div class="hint">
              {{{markdown setting.hint}}}
          </div>
          </div>
        {{/each}}
      </section>
    {{/each}}
    </div>
   </div>
  <div class="buttons">
    {{!-- <button type="button" data-key="report-bug" style="margin-right: auto; background-color: #a80000; color: white;">
      <i class="fas fa-bug"></i> Report a bug
    </button> --}}

    {{#each buttons}}
    <button type="button" data-key="{{this.key}}">{{this.label}}</button>
      {{/each}}

    <button type="submit">
      Save settings
    </button>
 </div>
</form>