<form>
  <div class="ui vtta">
    <section class="intro">
    </section>
    <div class="configurations">
    {{#each configurations as |configuration key|}}
      <section class="configuration" data-name="{{configuration.name}}">
        <span class="header">
          {{configuration.label}}
        </span>
        {{#each configuration.settings as |setting key|}}
           <div class="field">
          <div class="label">
            <span>
              {{setting.label}} {{#if setting.isNumber}}
                {{#if setting.numberRange}}[{{setting.numberRange}}]{{/if}}
              {{/if}}
            </span>
            {{#if setting.isBoolean}}
            <input
              style="width: auto"
              type="checkbox"
              name="{{configuration.name}}.{{setting.key}}"
              data-dtype="{{setting.type.name}}"
              {{checked setting.value}}
            />
          {{else if setting.isSelect}}
            <select name="{{configuration.name}}.{{setting.key}}">
              {{#select this.value}}
                {{#each this.choices as |name k|}}
                  <option value="{{k}}">
                    {{localize name}}
                  </option>
                {{/each}}
              {{/select}}
            </select>
            {{else if setting.isNumber}}
            <input
              type="number"
              name="{{configuration.name}}.{{setting.key}}"
              data-dtype="{{setting.type.name}}"
              value="{{setting.value}}"
              min="{{setting.min}}"
              {{#if setting.min }} min="{{setting.min}}"{{/if}}
              {{#if setting.max }} max="{{setting.max}}" {{/if}}
            />
          {{else if setting.isRange}}
            <input
              type="range"
              name="{{configuration.name}}.{{setting.key}}"
              data-dtype="Number"
              value="{{setting.value}}"
              min="{{setting.min}}"
              max="{{setting.max}}"
              step="{{setting.step}}"
            />
            <span class="range-value">
              {{this.value}}
            </span>
          {{else}}
            <input
            type="text"
            name="{{configuration.name}}.{{setting.key}}"
            data-dtype="{{setting.type.name}}"
            value="{{setting.value}}"
          />
          {{/if}}

            
          </div>
          <div class="hint">
              {{setting.hint}}
          </div>
          </div>
        {{/each}}
      </div>
      </section>
    {{/each}}
  </div>
  
  <div class="buttons">
    <button type="submit">
      Save settings
    </button>
  </div>
</form>